body{
  background-color:#f7f8fc;
}

.headers {
  text-align: center;
}

.form {
  text-align: center;
}

.divide {
  border-top: 1px dotted black;
  width: 750px;
}

.cardbody {
  margin: auto;
}

.cards {
  margin: auto;
  width: 1000px;
}

.delete{
  width: 100px;
}

.logo {
  width: 100px;
}

.buttons {
  margin: auto;
}

.fb-like {
  text-align: center;
}

.navigation {
  text-align: center;
  margin: auto;
}

.tables{
  text-align: center;
  margin: auto;
}